In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
#creating connection with database

engine = create_engine("mysql+pymysql://root:Password1@localhost:3306/inventory_db")
conn = engine.connect()

In [6]:
# checking list of tables in database 'inventory_db'

tables = pd.read_sql("SHOW TABLES", conn)
tables

  Tables_in_inventory_db
0        begin_inventory
1          end_inventory
2        purchase_prices
3              purchases
4                  sales
5         vendor_invoice

In [19]:
# testing if python is fetching data from the database

pd.read_sql("SELECT COUNT(*) FROM sales", conn)

   COUNT(*)
0  12825363

In [17]:
# Retrieving the count for each table in database 'inventory_db'
table_col = tables.columns[0]   

for table in tables[table_col]:
    
    count_df = pd.read_sql(f"SELECT COUNT(*) AS count FROM {table}", engine)
    print("Table:", table, "-", "Count of records:", count_df['count'].values[0])

    print('-' * 25, '*****', '-' * 25)

Table: begin_inventory - Count of records: 206529
------------------------- ***** -------------------------
Table: end_inventory - Count of records: 224489
------------------------- ***** -------------------------
Table: purchase_prices - Count of records: 12261
------------------------- ***** -------------------------
Table: purchases - Count of records: 2372474
------------------------- ***** -------------------------
Table: sales - Count of records: 12825363
------------------------- ***** -------------------------
Table: vendor_invoice - Count of records: 5543
------------------------- ***** -------------------------

In [18]:
# exploring data-type for each table in database 'inventory_db'
table_col = tables.columns[0]   

for table in tables[table_col]:
    print('-' * 50, table, '-' * 50)
    
    count_df = pd.read_sql(f"SELECT COUNT(*) AS count FROM {table}", engine)
    print("Count of records:", count_df['count'].values[0])

    preview_df = pd.read_sql(f"SELECT * FROM {table} LIMIT 5", engine)
    display(preview_df)

-------------------------------------------------- begin_inventory --------------------------------------------------
Count of records: 206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

-------------------------------------------------- end_inventory --------------------------------------------------
Count of records: 224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

-------------------------------------------------- purchase_prices --------------------------------------------------
Count of records: 12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

-------------------------------------------------- purchases --------------------------------------------------
Count of records: 2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

-------------------------------------------------- sales --------------------------------------------------
Count of records: 12825363

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

-------------------------------------------------- vendor_invoice --------------------------------------------------
Count of records: 5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

In [21]:
# Checking for a random vendor details across tables (VendorNumber: 516); Table: purchase_prices

purchase_prices_516 = pd.read_sql("SELECT * FROM purchase_prices WHERE VendorNumber = 516", conn)
purchase_prices_516

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,6234,C Y Toro Front Cab/Merlot,7.99,1500mL,1500,2,4.54,516,BANFI PRODUCTS CORP
1,6344,Walnut Crest Chard Central,11.99,1500mL,1500,2,6.62,516,BANFI PRODUCTS CORP
2,6429,C Y Toro Frontera Svgn Bl,8.99,1500mL,1500,2,5.80,516,BANFI PRODUCTS CORP
3,6478,C Y Toro Frontera Merlot,8.99,1500mL,1500,2,4.72,516,BANFI PRODUCTS CORP
4,6859,C Y Toro Frontera Chard,8.99,1500mL,1500,2,4.69,516,BANFI PRODUCTS CORP
...,...,...,...,...,...,...,...,...,...
144,25270,Cantine Maschio Sparkling Ro,3.79,187mL,187,2,2.46,516,BANFI PRODUCTS CORP
145,37924,Five Rivers Chard,12.99,750mL,750,2,8.60,516,BANFI PRODUCTS CORP
146,43819,Little Black Dress Chard,8.99,750mL,750,2,5.80,516,BANFI PRODUCTS CORP
147,6940,Bolla Merlot,9.99,750mL,750,2,6.57,516,BANFI PRODUCTS CORP
148,25751,Riunite Peach Moscato,9.99,1500ml,1500,2,6.80,516,BANFI PRODUCTS CORP

In [22]:
purchases_516 = pd.read_sql("SELECT * FROM purchases WHERE VendorNumber = 516", conn)
purchases_516

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,30_CULCHETH_8678,30,8678,Banfi Chianti Clsc RSV,750mL,516,BANFI PRODUCTS CORP,8170,2023-12-24,2024-01-01,2024-01-07,2024-02-12,9.32,48,447.36,2
1,50_MOUNTMEND_6240,50,6240,Riunite Raspberry,1.5L,516,BANFI PRODUCTS CORP,8170,2023-12-24,2024-01-02,2024-01-07,2024-02-12,5.36,6,32.16,2
2,34_PITMERDEN_18027,34,18027,Banfi Rosa Regale,750mL,516,BANFI PRODUCTS CORP,8170,2023-12-24,2024-01-02,2024-01-07,2024-02-12,9.08,1,9.08,2
3,29_AYLESBURY_8678,29,8678,Banfi Chianti Clsc RSV,750mL,516,BANFI PRODUCTS CORP,8170,2023-12-24,2024-01-02,2024-01-07,2024-02-12,9.32,24,223.68,2
4,7_STANMORE_8678,7,8678,Banfi Chianti Clsc RSV,750mL,516,BANFI PRODUCTS CORP,8170,2023-12-24,2024-01-02,2024-01-07,2024-02-12,9.32,46,428.72,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23505,65_LUTON_18347,65,18347,Banfi Pnt Grigio San Angelo,750mL,516,BANFI PRODUCTS CORP,13570,2024-12-19,2024-12-28,2025-01-02,2025-02-11,8.58,23,197.34,2
23506,50_MOUNTMEND_16829,50,16829,C Y Toro Gran Reserva Cab Sv,750mL,516,BANFI PRODUCTS CORP,13570,2024-12-19,2024-12-30,2025-01-02,2025-02-11,9.52,6,57.12,2
23507,69_MOUNTMEND_8678,69,8678,Banfi Chianti Clsc RSV,750mL,516,BANFI PRODUCTS CORP,13570,2024-12-19,2024-12-30,2025-01-02,2025-02-11,9.32,24,223.68,2
23508,18_FURNESS_6859,18,6859,C Y Toro Frontera Chard,1.5L,516,BANFI PRODUCTS CORP,13570,2024-12-19,2024-12-29,2025-01-02,2025-02-11,4.69,18,84.42,2
23509,15_WANBORNE_6859,15,6859,C Y Toro Frontera Chard,1.5L,516,BANFI PRODUCTS CORP,13570,2024-12-19,2024-12-29,2025-01-02,2025-02-11,4.69,24,112.56,2

In [23]:
vendor_invoice_516 = pd.read_sql("SELECT * FROM vendor_invoice WHERE VendorNumber = 516", conn)
vendor_invoice_516

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None
1,516,BANFI PRODUCTS CORP,2024-01-14,8208,2023-12-27,2024-02-21,5458,41823.14,204.93,None
2,516,BANFI PRODUCTS CORP,2024-01-21,8339,2024-01-05,2024-02-20,4381,29909.78,140.58,None
3,516,BANFI PRODUCTS CORP,2024-02-01,8402,2024-01-10,2024-03-09,4252,30048.37,162.26,None
4,516,BANFI PRODUCTS CORP,2024-02-06,8570,2024-01-21,2024-03-20,5023,35384.60,162.77,None
5,516,BANFI PRODUCTS CORP,2024-02-08,8632,2024-01-26,2024-03-16,4266,28959.56,159.28,None
6,516,BANFI PRODUCTS CORP,2024-02-20,8705,2024-01-31,2024-03-26,2519,17609.83,82.77,None
7,516,BANFI PRODUCTS CORP,2024-02-28,8860,2024-02-10,2024-04-03,3039,21701.14,115.02,None
8,516,BANFI PRODUCTS CORP,2024-03-07,8996,2024-02-19,2024-04-14,2782,18983.48,98.71,None
9,516,BANFI PRODUCTS CORP,2024-03-14,9046,2024-02-23,2024-04-16,2627,17693.86,79.62,None
10,516,BANFI PRODUCTS CORP,2024-03-14,9132,2024-02-29,2024-04-21,3027,21072.23,109.58,None
11,516,BANFI PRODUCTS CORP,2024-03-23,9301,2024-03-11,2024-04-27,2910,18325.33,89.79,None
12,516,BANFI PRODUCTS CORP,2024-04-03,9316,2024-03-13,2024-05-14,2194,15426.40,77.13,None
13,516,BANFI PRODUCTS CORP,2024-04-12,9473,2024-03-23,2024-05-19,3335,21639.98,106.04,None
14,516,BANFI PRODUCTS CORP,2024-04-14,9547,2024-03-29,2024-05-12,3197,24284.01,116.56,None
15,516,BANFI PRODUCTS CORP,2024-04-19,9690,2024-04-07,2024-06-03,3668,26944.41,126.64,None
16,516,BANFI PRODUCTS CORP,2024-04-29,9739,2024-04-11,2024-05-30,2962,22653.42,101.94,None
17,516,BANFI PRODUCTS CORP,2024-05-06,9872,2024-04-20,2024-06-18,6762,54823.63,257.67,None
18,516,BANFI PRODUCTS CORP,2024-05-09,9985,2024-04-28,2024-06-20,6611,50969.70,259.95,None
19,516,BANFI PRODUCTS CORP,2024-05-23,10096,2024-05-06,2024-06-17,4615,36438.43,167.62,None
20,516,BANFI PRODUCTS CORP,2024-05-25,10149,2024-05-10,2024-06-24,4172,29548.14,135.92,None
21,516,BANFI PRODUCTS CORP,2024-06-05,10274,2024-05-18,2024-07-09,4076,29317.46,155.38,None
22,516,BANFI PRODUCTS CORP,2024-06-06,10326,2024-05-22,2024-07-19,4053,27953.23,145.36,None
23,516,BANFI PRODUCTS CORP,2024-06-15,10466,2024-05-31,2024-07-21,3504,24810.26,111.65,None
24,516,BANFI PRODUCTS CORP,2024-06-26,10614,2024-06-10,2024-07-27,2527,17344.00,79.78,None
25,516,BANFI PRODUCTS CORP,2024-07-01,10646,2024-06-13,2024-07-30,2849,20651.94,113.59,None
26,516,BANFI PRODUCTS CORP,2024-07-09,10733,2024-06-19,2024-08-10,2742,22151.33,115.19,None
27,516,BANFI PRODUCTS CORP,2024-07-11,10838,2024-06-25,2024-08-10,505,3171.31,17.44,None
28,516,BANFI PRODUCTS CORP,2024-07-13,11000,2024-07-01,2024-08-23,3792,26817.92,147.50,None
29,516,BANFI PRODUCTS CORP,2024-07-20,11068,2024-07-05,2024-08-19,3989,26786.41,141.97,None
30,516,BANFI PRODUCTS CORP,2024-08-01,11154,2024-07-12,2024-09-10,3275,23549.71,110.68,None
31,516,BANFI PRODUCTS CORP,2024-08-04,11278,2024-07-20,2024-09-13,4115,28192.90,155.06,None
32,516,BANFI PRODUCTS CORP,2024-08-16,11342,2024-07-25,2024-09-10,4861,33091.20,175.38,None
33,516,BANFI PRODUCTS CORP,2024-08-15,11457,2024-08-02,2024-09-27,4459,29808.83,152.03,None
34,516,BANFI PRODUCTS CORP,2024-08-27,11542,2024-08-08,2024-09-26,5834,41910.17,226.31,None
35,516,BANFI PRODUCTS CORP,2024-08-29,11717,2024-08-19,2024-10-09,3471,24836.18,124.18,None
36,516,BANFI PRODUCTS CORP,2024-09-12,11818,2024-08-26,2024-10-08,3662,25354.93,139.45,None
37,516,BANFI PRODUCTS CORP,2024-09-15,11903,2024-09-01,2024-10-27,4560,32450.67,178.48,None
38,516,BANFI PRODUCTS CORP,2024-09-27,11953,2024-09-05,2024-10-28,4814,33371.08,173.53,None
39,516,BANFI PRODUCTS CORP,2024-09-27,12108,2024-09-15,2024-10-30,5148,34423.15,168.67,None
40,516,BANFI PRODUCTS CORP,2024-10-06,12181,2024-09-20,2024-11-10,8876,55042.16,253.19,None
41,516,BANFI PRODUCTS CORP,2024-10-07,12255,2024-09-23,2024-11-17,833,4195.83,18.88,None
42,516,BANFI PRODUCTS CORP,2024-10-12,12377,2024-09-29,2024-11-16,7267,47467.57,232.59,None
43,516,BANFI PRODUCTS CORP,2024-10-17,12468,2024-10-05,2024-12-02,4392,28481.90,148.11,None
44,516,BANFI PRODUCTS CORP,2024-10-26,12554,2024-10-11,2024-12-01,3724,26200.18,120.52,None
45,516,BANFI PRODUCTS CORP,2024-11-01,12652,2024-10-18,2024-12-12,6581,53368.48,282.85,None
46,516,BANFI PRODUCTS CORP,2024-11-14,12753,2024-10-25,2024-12-23,3557,27983.84,151.11,None
47,516,BANFI PRODUCTS CORP,2024-11-21,12872,2024-11-01,2024-12-16,4027,29835.81,158.13,None
48,516,BANFI PRODUCTS CORP,2024-11-28,12930,2024-11-06,2024-12-22,3989,29645.49,151.19,None
49,516,BANFI PRODUCTS CORP,2024-12-03,13030,2024-11-13,2025-01-02,3641,26806.09,134.03,None
50,516,BANFI PRODUCTS CORP,2024-12-07,13135,2024-11-20,2025-01-21,4409,33511.87,150.80,None
51,516,BANFI PRODUCTS CORP,2024-12-16,13239,2024-11-27,2025-01-14,3446,24145.77,127.97,None
52,516,BANFI PRODUCTS CORP,2024-12-23,13413,2024-12-08,2025-01-21,3867,31581.13,161.06,None
53,516,BANFI PRODUCTS CORP,2024-12-27,13499,2024-12-14,2025-02-09,3387,25651.30,128.26,None
54,516,BANFI PRODUCTS CORP,2025-01-10,13604,2024-12-21,2025-02-02,14136,99189.89,476.11,None

In [24]:
sales_516 = pd.read_sql("SELECT * FROM sales WHERE VendorNo = 516", conn)
sales_516

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_10874,1,10874,Cantine Maschio Prosecco Brt,750mL,1,10.99,10.99,2024-01-07,750.0,2,0.11,516,BANFI PRODUCTS CORP
1,1_HARDERSFIELD_10874,1,10874,Cantine Maschio Prosecco Brt,750mL,1,10.99,10.99,2024-01-08,750.0,2,0.11,516,BANFI PRODUCTS CORP
2,1_HARDERSFIELD_10874,1,10874,Cantine Maschio Prosecco Brt,750mL,1,10.99,10.99,2024-01-15,750.0,2,0.11,516,BANFI PRODUCTS CORP
3,1_HARDERSFIELD_10874,1,10874,Cantine Maschio Prosecco Brt,750mL,14,153.86,10.99,2024-01-23,750.0,2,1.57,516,BANFI PRODUCTS CORP
4,1_HARDERSFIELD_10874,1,10874,Cantine Maschio Prosecco Brt,750mL,6,65.94,10.99,2024-01-29,750.0,2,0.68,516,BANFI PRODUCTS CORP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110184,9_BLACKPOOL_8790,9,8790,Bolla Valpolicella,1.5L,3,47.97,15.99,2024-12-18,1500.0,2,0.68,516,BANFI PRODUCTS CORP
110185,9_BLACKPOOL_8790,9,8790,Bolla Valpolicella,1.5L,1,15.99,15.99,2024-12-28,1500.0,2,0.22,516,BANFI PRODUCTS CORP
110186,9_BLACKPOOL_8790,9,8790,Bolla Valpolicella,1.5L,1,15.99,15.99,2024-12-30,1500.0,2,0.22,516,BANFI PRODUCTS CORP
110187,9_BLACKPOOL_8978,9,8978,Riunite Lambrusco,3L,2,33.98,16.99,2024-12-11,3000.0,2,0.90,516,BANFI PRODUCTS CORP
110188,9_BLACKPOOL_8978,9,8978,Riunite Lambrusco,3L,1,16.99,16.99,2024-12-16,3000.0,2,0.45,516,BANFI PRODUCTS CORP

In [33]:
#assigning table-name in python from MySQL database
purchases = pd.read_sql("SELECT * FROM purchases", engine)

purchase_prices = pd.read_sql("SELECT * FROM purchase_prices", engine)

sales = pd.read_sql("SELECT * FROM sales", engine)

vendor_invoice = pd.read_sql("SELECT * FROM vendor_invoice", engine)

In [29]:
purchases.groupby(["Brand","PurchasePrice"])[["Quantity","Dollars"]].sum()

                     Quantity   Dollars
Brand PurchasePrice
58    9.28               3550  32944.00
60    7.40               1633  12084.20
61    10.60               312   3307.20
62    28.67              3200  91744.00
63    30.46              2855  86963.30
...                       ...       ...
90089 77.92                32   2493.44
90090 448.27                6   2689.62
90604 78.42               118   9253.56
90609 17.00               321   5457.00
90631 12.74              1938  24690.12

[10664 rows x 2 columns]

In [36]:
sales.groupby("Brand")[['SalesQuantity','SalesDollars','SalesPrice','ExciseTax']].sum()

       SalesQuantity  SalesDollars  SalesPrice  ExciseTax
Brand
58              3446      43341.54    28145.64    2715.12
60              1775      18716.25    10720.79    1398.56
61               312       4364.88      363.74     245.70
62              3125     119863.75    90154.51    2463.18
63              2778     112249.22    88553.10    2190.45
...              ...           ...         ...        ...
90089            159      19078.41     5759.52      17.80
90090             15       9749.85     4549.93       1.68
90604             76       9119.24     2639.78       8.53
90609             83       2074.17     1774.29       1.76
90631           1659      31504.41    19502.73      99.54

[11237 rows x 4 columns]

In [38]:
# Creating summary table including the potential data for vendor_invoice 
freight_summary = pd.read_sql_query("""SELECT 
    VendorNumber, 
    SUM(Freight) AS FreightCost 
FROM vendor_invoice 
GROUP BY VendorNumber""", conn)
freight_summary

     VendorNumber  FreightCost
0             105        62.39
1            4466       793.91
2             388       211.74
3             480     89286.27
4             516      8510.41
..            ...          ...
121        201359         0.09
122          4901         0.72
123         90059        74.84
124          5083        10.68
125            54         0.48

[126 rows x 2 columns]

In [39]:
# Creating summary table including the potential data for purchase table 
purchase_summary = pd.read_sql_query("""SELECT 
    p1.VendorNumber,
    p1.VendorName,
    p1.Brand,
    p1.Description,
    p1.PurchasePrice,
    p2.Price AS ActualPrice,
    p2.Volume,
    SUM(p1.Quantity) AS TotalPurchaseQuantity,
    SUM(p1.Dollars) AS TotalPurchaseDollars
FROM purchases p1
JOIN purchase_prices p2
    ON p1.Brand = p2.Brand
WHERE p1.PurchasePrice > 0
GROUP BY p1.VendorNumber,p1.VendorName, p1.Brand, p1.Description, p1.PurchasePrice, p2.Price, p2.Volume
ORDER BY TotalPurchaseDollars
""",conn)
purchase_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars
0,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50,1.0,0.71
1,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200,1.0,1.47
2,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50,2.0,1.48
3,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50,6.0,2.34
4,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750,2.0,2.64
...,...,...,...,...,...,...,...,...,...
10687,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750,138109.0,3023206.01
10688,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750,201682.0,3261197.94
10689,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750,187407.0,3418303.68
10690,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750,164038.0,3804041.22
10691,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750,145080.0,3811251.60

In [40]:
# Creating a summary table including the potential data from sales table 
sales_summary = pd.read_sql_query("""SELECT 
    VendorNo,
    Brand,
    SUM(SalesQuantity) AS TotalSalesQuantity,
    SUM(SalesDollars) AS TotalSalesDollars,
    SUM(SalesPrice) AS TotalSalesPrice,
    SUM(ExciseTax) AS TotalExciseTax
FROM sales
GROUP BY VendorNo, Brand
ORDER BY TotalSalesDollars""",conn)
sales_summary

,VendorNo,Brand,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax
0,8004,5287,2.0,9.800000e-01,0.98,0.10
1,9206,2773,1.0,9.900000e-01,0.99,0.05
2,3924,9123,2.0,1.980000e+00,0.99,0.10
3,3252,3933,2.0,1.980000e+00,0.99,0.10
4,10050,3623,2.0,1.980000e+00,1.98,0.10
...,...,...,...,...,...,...
11267,3960,3545,135838.0,4.223108e+06,545778.28,249587.83
11268,3960,4261,200412.0,4.475973e+06,420050.01,368242.80
11269,17035,8068,187140.0,4.538121e+06,461140.15,343854.07
11270,4425,3405,160247.0,4.819073e+06,561512.37,294438.66
11271,1128,1233,142049.0,5.101920e+06,672819.31,260999.20

In [41]:
# Creating an aggregated summary table by merging all the summary tables; freight_summary, purchase_summary, sales_summary

vendor_sales_summary = pd.read_sql_query("""WITH FreightSummary AS (
    SELECT 
        VendorNumber, 
        SUM(Freight) AS FreightCost 
    FROM vendor_invoice 
    GROUP BY VendorNumber
), 

PurchaseSummary AS (
    SELECT 
        p1.VendorNumber,
        p1.VendorName,
        p1.Brand,
        p1.Description,
        p1.PurchasePrice,
        p2.Price AS ActualPrice,
        p2.Volume,
        SUM(p1.Quantity) AS TotalPurchaseQuantity,
        SUM(p1.Dollars) AS TotalPurchaseDollars
    FROM purchases p1
    JOIN purchase_prices p2
        ON p1.Brand = p2.Brand
    WHERE p1.PurchasePrice > 0
    GROUP BY p1.VendorNumber, p1.VendorName, p1.Brand, p1.Description, p1.PurchasePrice, p2.Price, p2.Volume
), 

SalesSummary AS (
    SELECT 
        VendorNo,
        Brand,
        SUM(SalesQuantity) AS TotalSalesQuantity,
        SUM(SalesDollars) AS TotalSalesDollars,
        SUM(SalesPrice) AS TotalSalesPrice,
        SUM(ExciseTax) AS TotalExciseTax
    FROM sales
    GROUP BY VendorNo, Brand
) 

SELECT 
    ps.VendorNumber,
    ps.VendorName,
    ps.Brand,
    ps.Description,
    ps.PurchasePrice,
    ps.ActualPrice,
    ps.Volume,
    ps.TotalPurchaseQuantity,
    ps.TotalPurchaseDollars,
    ss.TotalSalesQuantity,
    ss.TotalSalesDollars,
    ss.TotalSalesPrice,
    ss.TotalExciseTax,
    fs.FreightCost
FROM PurchaseSummary ps
LEFT JOIN SalesSummary ss 
    ON ps.VendorNumber = ss.VendorNo 
    AND ps.Brand = ss.Brand
LEFT JOIN FreightSummary fs 
    ON ps.VendorNumber = fs.VendorNumber
ORDER BY ps.TotalPurchaseDollars DESC""",conn)

In [43]:
vendor_sales_summary.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'Description', 'PurchasePrice',
       'ActualPrice', 'Volume', 'TotalPurchaseQuantity',
       'TotalPurchaseDollars', 'TotalSalesQuantity', 'TotalSalesDollars',
       'TotalSalesPrice', 'TotalExciseTax', 'FreightCost'],
      dtype='object')

In [51]:
#Checking data-type
vendor_sales_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
Description               object
PurchasePrice            float64
ActualPrice              float64
Volume                   float64
TotalPurchaseQuantity    float64
TotalPurchaseDollars     float64
TotalSalesQuantity       float64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalExciseTax           float64
FreightCost              float64
dtype: object

In [52]:
# Identifying null-values
vendor_sales_summary.isnull().sum()

VendorNumber             0
VendorName               0
Brand                    0
Description              0
PurchasePrice            0
ActualPrice              0
Volume                   0
TotalPurchaseQuantity    0
TotalPurchaseDollars     0
TotalSalesQuantity       0
TotalSalesDollars        0
TotalSalesPrice          0
TotalExciseTax           0
FreightCost              0
dtype: int64

In [46]:
vendor_sales_summary['Volume'].unique()

array(['1750', '750', '1000', '1500', '375', '50', '3000', '5000', '100',
       '200', '4000', '187', '500', '600', '300', '1100', '250', '400',
       '18000', '150', '720', '330', '162.5', '180', '19500', '6000',
       '560', '20000', '9000', '3750', '650'], dtype=object)

In [53]:
# Unique Vendors
vendor_sales_summary['VendorName'].unique()

array(['BROWN-FORMAN CORP', 'MARTIGNETTI COMPANIES', 'PERNOD RICARD USA',
       'DIAGEO NORTH AMERICA INC', 'BACARDI USA INC',
       'JIM BEAM BRANDS COMPANY', 'MAJESTIC FINE WINES',
       'ULTRA BEVERAGE COMPANY LLP', 'STOLI GROUP,(USA) LLC',
       'PROXIMO SPIRITS INC.', 'MOET HENNESSY USA INC', 'CAMPARI AMERICA',
       'SAZERAC CO INC', 'CONSTELLATION BRANDS INC', 'M S WALKER INC',
       'SAZERAC NORTH AMERICA INC.', 'PALM BAY INTERNATIONAL INC',
       'REMY COINTREAU USA INC', 'SIDNEY FRANK IMPORTING CO',
       'E & J GALLO WINERY', 'WILLIAM GRANT & SONS INC',
       'HEAVEN HILL DISTILLERIES', 'DISARONNO INTERNATIONAL LLC',
       'EDRINGTON AMERICAS', 'CASTLE BRANDS CORP.',
       'SOUTHERN WINE & SPIRITS NE', 'STE MICHELLE WINE ESTATES',
       'TRINCHERO FAMILY ESTATES', 'MHW LTD', 'WINE GROUP INC',
       'PERFECTA WINES', 'LUXCO INC', 'TREASURY WINE ESTATES',
       'DIAGEO CHATEAU ESTATE WINES', 'SHAW ROSS INT L IMP LTD',
       'PINE STATE TRADING CO', 'PHILLIPS PRODUCTS CO.',
       'CALEDONIA SPIRITS INC', 'STATE WINE & SPIRITS',
       'KOBRAND CORPORATION', 'BANFI PRODUCTS CORP',
       'VINEYARD BRANDS INC', 'DELICATO VINEYARDS INC',
       'FABRIZIA SPIRITS LLC', 'DUGGANS DISTILLED PRODUCTS',
       'Serralles Usa LLC', 'SEA HAGG DISTILLERY LLC',
       'OLE SMOKY DISTILLERY LLC', 'VRANKEN AMERICA', 'KLIN SPIRITS LLC',
       'LAIRD & CO', 'ADAMBA IMPORTS INTL INC',
       'LATITUDE BEVERAGE COMPANY', 'FREDERICK WILDMAN & SONS',
       'MCCORMICK DISTILLING CO', 'CHARLES JACQUIN ET CIE INC',
       'WESTERN SPIRITS BEVERAGE CO', 'MARSALLE COMPANY',
       'AMERICAN VINTAGE BEVERAGE', 'MANGO BOTTLING INC',
       'SWEET BABY VINEYARD', 'NICHE W & S', 'LABELLE VYDS AND WINERY',
       'FLAG HILL WINERY & VINEYARD', 'SMOKY QUARTZ DISTILLERY LLC',
       'PREMIUM PORT WINES, INC.', 'Russian Standard Vodka',
       'Dunn Wine Brokers', 'WEIN BAUER INC', 'BULLY BOY DISTILLERS',
       'ATLANTIC IMPORTING COMPANY', 'PREMIER DISTRIBUTORS',
       'VINILANDIA USA', 'PARK STREET IMPORTS LLC', 'TAKARA SAKE USA INC',
       'SEA BREEZE CELLARS LLC', 'STARK BREWING COMPANY', 'TY KU LLC',
       'PSP WINES', 'TAMWORTH DISTILLING', 'ZORVINO VINEYARDS',
       'SOUTHERN GLAZERS W&S OF NE', 'HOOD RIVER DISTILLERS, Inc.',
       'CRUSH WINES', 'POVERTY LANE ORCHARDS', 'DJINN SPIRITS LLC',
       'MOONLIGHT MEADERY', 'TALL SHIP DISTILLERY LLC',
       'FORTUNE WINE BROKERS LLC', 'BLACK COVE BEVERAGES', 'VINEXTRA INC',
       'SURVILLE ENTERPRISES CORP', 'JEWELL TOWNE VINEYARDS',
       'SWEETWATER FARM', 'ALTAMAR BRANDS LLC', 'CANDIA VINEYARDS',
       'INCREDIBREW INC', 'ALISA CARR BEVERAGES',
       'STELLAR IMPORTING CO LLC', 'FULCHINO VINEYARD INC',
       'IRA GOLDMAN AND WILLIAMS, LLP', 'Circa Wines',
       'VINEDREA WINES LLC', 'BLACK PRINCE DISTILLERY INC',
       'VINEYARD BRANDS LLC', 'THE IMPORTED GRAPE LLC',
       'WALPOLE MTN VIEW WINERY', 'GILMANTON WINERY & VINEYARD',
       'HAUNTING WHISPER VYDS', 'STAR INDUSTRIES INC.',
       'LOYAL DOG WINERY', 'R.P.IMPORTS INC', 'THE PIERPONT GROUP LLC',
       'APPOLO VINEYARDS LLC', 'BLACK ROCK SPIRITS LLC',
       'CENTEUR IMPORTS LLC', 'HIGHLAND WINE MERCHANTS LLC',
       'AMERICAN SPIRITS EXCHANGE', 'UNCORKED', 'BRONCO WINE COMPANY',
       'MILTONS DISTRIBUTING CO', 'TRUETT HURST', 'LAUREATE IMPORTS CO',
       'FANTASY FINE WINES CORP', 'AAPER ALCOHOL & CHEMICAL CO',
       'SILVER MOUNTAIN CIDERS', 'CAPSTONE INTERNATIONAL',
       'FLAVOR ESSENCE INC'], dtype=object)

In [54]:
# Unique Descriptions
vendor_sales_summary['Description'].unique()

array(['Jack Daniels No 7 Black', "Tito's Handmade Vodka",
       'Absolut 80 Proof', ..., 'Crown Royal Apple',
       'Concannon Glen Ellen Wh Zin', 'The Club Strawbry Margarita'],
      dtype=object)

In [48]:
# changing datatype of volume from object to float
vendor_sales_summary['Volume'] = vendor_sales_summary['Volume'].astype('float64')

In [49]:
# filling missing values with 0
vendor_sales_summary.fillna(0,inplace = True)

In [50]:
# removing unnecessary spaces from categorical columns
vendor_sales_summary['VendorName'] = vendor_sales_summary['VendorName'].str.strip()
vendor_sales_summary['Description'] = vendor_sales_summary['Description'].str.strip()

In [55]:
# creating a new column to showcase GrossProfit 
vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesDollars'] - vendor_sales_summary['TotalPurchaseDollars']

In [56]:
# creating a new column to showcase ProfitMargin
vendor_sales_summary['ProfitMargin'] = (vendor_sales_summary['GrossProfit'] / vendor_sales_summary['TotalSalesDollars'])*100

In [57]:
# creating a new column to showcase StockTurnover
vendor_sales_summary['StockTurnover'] = vendor_sales_summary['TotalSalesQuantity'] / vendor_sales_summary['TotalPurchaseQuantity']

In [58]:
# creating a new column to showcase SalesToPurchaseRatio
vendor_sales_summary['SalesToPurchaseRatio'] = vendor_sales_summary['TotalSalesDollars'] / vendor_sales_summary['TotalPurchaseDollars']

In [60]:
raw_conn = engine.raw_connection()
cursor = raw_conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS vendor_sales_summary (
    VendorNumber INT,
    VendorName VARCHAR(100),
    Brand INT,
    Description VARCHAR(150),
    PurchasePrice DECIMAL(10,2),
    ActualPrice DECIMAL(10,2),
    Volume INT,
    TotalPurchaseQuantity INT,
    TotalPurchaseDollars DECIMAL(15,2),
    TotalSalesQuantity INT,
    TotalSalesDollars DECIMAL(15,2),
    TotalSalesPrice DECIMAL(15,2),
    TotalExciseTax DECIMAL(15,2),
    FreightCost DECIMAL(15,2),
    GrossProfit DECIMAL(15,2),
    ProfitMargin DECIMAL(15,2),
    StockTurnover DECIMAL(15,2),
    SalesToPurchaseRatio DECIMAL(15,2),
    PRIMARY KEY (VendorNumber, Brand)
);
""")

raw_conn.commit()
cursor.close()
raw_conn.close()

In [64]:
#Checking if table is stored in the database
pd.read_sql_query("select * from vendor_sales_summary",engine)

Empty DataFrame
Columns: [VendorNumber, VendorName, Brand, Description, PurchasePrice, ActualPrice, Volume, TotalPurchaseQuantity, TotalPurchaseDollars, TotalSalesQuantity, TotalSalesDollars, TotalSalesPrice, TotalExciseTax, FreightCost, GrossProfit, ProfitMargin, StockTurnover, SalesToPurchaseRatio]
Index: []

In [67]:
# Replacing inf values with NaN in the 'vendor_sales_summary' table 
import numpy as np

vendor_sales_summary = vendor_sales_summary.replace([np.inf, -np.inf], np.nan)

In [68]:
#Writting values in 'vendor_sales_summary' table 
vendor_sales_summary.to_sql(
    'vendor_sales_summary',
    engine,
    if_exists='replace',
    index=False
)

10692